# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Google Cloud credentials & local keys
*.json
!package.json
!tsconfig.json
service_account*.json
key.json
credentials.json

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars

# IDEs and OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
